<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='gruvbox.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
    ></script>
    <title>Core Open Issues</title>
  </head>
  <body>
    <div class="container mt-4">
      <h1>Bitcoin Core Open Issues</h1>
      <h3>
        Open ({{ issues|length }}) Closed by PRs ({{ issues|closed_by_count }})
      </h3>

      <table class="table" id="issues-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Labels</th>
            <th>
              Kill Factor
              (<span id="kill-factor-count" class="kill-factor-count">0</span>)
            </th>
            <th>Closed By</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues %}
          <tr class="{{ 'highlighted-row' if issue[14] }}">
            <td><a href="{{ issue[6] }}" target="_blank">{{ issue[1] }}</a></td>
            <td>{{ issue[2] }}</td>
            <td>
              {% for label in issue[7] %} {{ label }}{% if not loop.last %}, {%
              endif %} {% endfor %}
            </td>
            <td>{% if issue[14] is not none %}{{ issue[14] }}{% endif %}</td>
            <td>
              {% if issue[15] is not none %}<a
                href="https://github.com/bitcoin/bitcoin/pull/{{ issue[15] }}"
                >{{ issue[15] }}</a
              >{% endif %}
            </td>
            <td>
              <a
                href="{{ url_for('issue', issue_id=issue[0]) }}"
                class="btn btn-custom-update"
                >Update</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        var table = $("#issues-table").DataTable({
          order: [],
          paging: false,
          drawCallback: function () {
            var api = this.api();
            var killFactorCount = api
              .rows({ filter: "applied" })
              .nodes()
              .toArray()
              .reduce(function (count, row) {
                var killFactorCell = row.cells[3];
                return (
                  count + (killFactorCell.textContent.trim() !== "" ? 1 : 0)
                );
              }, 0);
            $("#kill-factor-count").text(killFactorCount);
          },
          initComplete: function () {
            var api = this.api();
            var killFactorCount = api
              .rows()
              .nodes()
              .toArray()
              .reduce(function (count, row) {
                var killFactorCell = row.cells[3];
                return (
                  count + (killFactorCell.textContent.trim() !== "" ? 1 : 0)
                );
              }, 0);
            $("#kill-factor-count").text(killFactorCount);
          },
        });
      });
    </script>
  </body>
</html>
